body {
  margin: 0;
  padding: 0;
}
.hero-section{
  background-image:url(../Image/Header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#logo{
  color: blue;
}

.languagess-container{
  width: 100px;
  height: 100px;
}

.text-container{
  width: 40%;
}